.border {
	border: 1px solid black;
	box-sizing: border-box;
}

body {
	margin: 0;
	
	/* page background */
	background: #f5f5f5;
	
	/* default page font */
	font-family: "Smythe", system-ui;
	font-weight: 400;
	font-style: normal;
}

/* #### UTILITY CLASSES #### */
.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.border-box {
	box-sizing: border-box;
}

.container {
	/* sizing and spacing */
	max-width: 600px;
	margin: 0 auto;
}
/* #### HEADER #### */
.header {
	/* sizing and spacing */
	height: 167px;

	/* content layout */
	padding: 0 46px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

	/* background */
	background: url("https://images.unsplash.com/photo-1616645500344-209060c84970?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center;
	background-size: cover;

	/* text styling */
	color: white;
}

h1 {
	font-size: 39px;
}