.black-border {
  /* border: 1px solid black;
  box-sizing: border-box; */
}

@font-face {
  font-family: 'Smythe';
  src: url('/assets/font/Smythe-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;

  /* default page font */
  font-family: "Smythe", system-ui, serif;

  /* page background */
  background-color: #F5F5F5;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.border-box {
  box-sizing: border-box;
}

/* #### APP CONTAINER #### */
.app-container {
  max-width: 600px;
  margin: 0 auto;
}

/* HEADER */
.header {
  /* sizing and spacing */
  height: 167px;

  /* content layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 46px;

  /* styling */
  background: url("/assets/img/burger.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.header-title {
  /* text styling */
  font-size: 42px;
}

.header-tagline {
  /* text styling */
  font-size: 22px;
  font-weight: lighter;
}

main {
  background-color: white;
  padding: 0 46px;
}

/* #### MENU #### */
.menu-item {
  /* sizing and spacing */
  margin-bottom: 45px;
  padding-bottom: 20px;

  /* content layout */
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;

  border-bottom: 1px solid #DEDEDE;
}

.item-graphic {
  font-size: 78px;
  line-height: 98px;
}

.menu-item-info {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-name {
  /* text styling */
  font-size: 28px;
  line-height: 17px;
  text-transform: capitalize;
}

.item-ingredients {
  /* text styling */
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #8B8B8B;
}

.item-price {
  /* text styling */
  font-size: 20px;
  line-height: 24px;
}

.order-btns {
  display: flex;
  gap: 8px;
}

.round-btn {
  /* sizing and spacing */
  height: 50px;
  width: 50px;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styling */
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  color: #3C3C3C;

  cursor: pointer;
}

.round-btn:hover {
  background-color: #DEDEDE;
  color: white;
}

/* #### ORDER SUMMARY #### */
.order-entry {
  /* content layout */
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}

.remove-btn {
  /* text styling */
  font-size: 12px;
  line-height: 24px;
  color: #BBB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}