.black-border {
  /* border: 1px solid black;
  box-sizing: border-box; */
}

@font-face {
  font-family: 'Smythe';
  src: url('/assets/font/Smythe-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;

  /* default page font */
  font-family: "Smythe", system-ui, serif;

  /* page background */
  background-color: #F5F5F5;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.border-box {
  box-sizing: border-box;
}

/* #### APP CONTAINER #### */
.app-container {
  max-width: 600px;
  margin: 0 auto;
}

/* HEADER */
.header {
  /* sizing and spacing */
  height: 167px;

  /* content layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 46px;

  /* styling */
  background: url("/assets/img/burger.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.header-title {
  /* text styling */
  font-size: 42px;
}

.header-tagline {
  /* text styling */
  font-size: 22px;
  font-weight: lighter;
}

main {
  background-color: white;
  padding: 67px 46px 53px;
}

/* #### MENU #### */
.menu-item {
  /* sizing and spacing */
  min-height: 150px;
  margin-bottom: 45px;

  /* content layout */
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;

  border-bottom: 1px solid #DEDEDE;
}

.item-graphic {
  font-size: 78px;
  line-height: 1;
}

.menu-item-info {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-name {
  /* text styling */
  font-size: 28px;
  line-height: 17px;
  text-transform: capitalize;
  font-weight: lighter;
}

.item-ingredients {
  /* text styling */
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #8B8B8B;
}

.item-price {
  /* text styling */
  font-size: 20px;
  line-height: 24px;
}

.order-btns {
  display: flex;
  gap: 8px;
}

.round-btn {
  /* sizing and spacing */
  height: 50px;
  width: 50px;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styling */
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  color: #3C3C3C;

  cursor: pointer;
}

.round-btn:hover {
  background-color: #DEDEDE;
  color: white;
}

/* #### ORDER SUMMARY #### */
.section-title {
  /* text styling */
  font-size: 28px;
  line-height: 17px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-items {
  width: 100%;
  margin: 60px 0 50px;

  display: flex;
  flex-direction: column;
}

.order-item {
  /* sizing and spacing */
  margin-bottom: 20px;

  /* content layout */
  display: flex;
  gap: 10px;
}

.order-item-name {
  font-size: 28px;
  line-height: 17px;
}

.order-item-count {
  font-size: 16px;
}

.delete-btn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 24px;
  color: #BBB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.order-item-price {
  font-size: 20px;
  line-height: 24px;

  margin-left: auto;
}

hr {
  width: 100%;
  border: 1px solid #393333;
  margin: 10px 0 15px 0;
}

.btn {
  /* sizing and spacing */
  width: 100%;
  height: 60px;

  /* styling */
  background-color: #16DB99;
  color: white;
  border: none;
  border-radius: 3px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  cursor: pointer;
}

/* #### MODAL #### */
.dialog-modal {
  width: 90vw;
  max-width: 524px;
  padding: 30px 24px;

  background-color: white;
  border: none;
  border-radius: 6px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
}

.modal-title {
  margin: 15px auto 45px;
  font-size: 24px;
  line-height: 30px;
}

.modal-form {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.modal-form-input {
  /* sizing and spacing */
  height: 70px;

  /* styling */
  border: 1px solid #757575;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;

  /* text */
  font-size: 20px;
  line-height: 30px;
  padding: 0 26px;
}

.modal-form-input::placeholder {
  color: #757575;
}

.modal-form-input:focus {
  border-color: #16DB99;
}

.modal-form-btn {
  height: 70px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .order-btns {
    flex-direction: column;
  }
}