.black-border {
  /* border: 1px solid black !important; */
}

:root {
  --black: #090909;
  --grey: #505050;
}

/* DEFAULT PAGE BEHAVIOR */
html, body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* GENERIC CLASSES */
.img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}

.masked {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

/* HEADER */
.header {
  /* sizing and positioning */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  /* styling */
  background-color: white;
  overflow-x: 0;
}

.logo-btn {
  /* content layout */
  display: flex;
  align-items: center;
  gap: .5em;

  /* text styling */
  text-decoration: none;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-img {
  height: 1.75em;
  width: auto;
}

/* NAV */
.header-nav {
  /* sizing and positioning */
  position: fixed;
  top: 0;
  right: -16em;
  width: 16em;
  height: 100vh;

  padding: 5em 2em;

  background-color: white;
  box-shadow: none;
  transition: right ease-in-out .2s;
}

.expanded {
  right: 0;
  box-shadow: 0 0 16px rgba(120, 120, 120, .2);
}

.nav-collapse-btn {
  position: absolute;
  top: 1em;
  right: 1em;
}

.nav-btns {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.nav-btn {
  /* text styling */
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);

  position: relative;
}

.nav-btn::after {
  content: "";

  position: absolute;
  top: 1.65em;
  left: 0;
  width: 0;
  
  border-bottom: 1px solid black;
  transition: width ease-in .15s;
}

.nav-btn:hover::after {
  width: 100%;
}

/* MAIN */
.main {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 3.3125em;
  padding-bottom: 3.3125em;
}

/* ARTICLE CARD GRID */
.recent-articles {
  padding: 0 1em;
}

.articles-grid-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 1.67em;
}

.article-card-grid {
  /* content layout */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  gap: 46px 26px;
}

.article-card-btn {
  /* link styling */
  text-align: left;
}

.article-card-btn:hover .mask {
  background-color: rgba(0, 0, 0, .3);
}

.article-card-img {
  height: 232px;
  width: 100%;
  object-fit: cover;
  margin-bottom: .875em;
}

.article-card-info {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-card-title {
  /* positioning */
  order: 2;

  margin: .583em 0 .375em;
  
  /* text styling */
  font-size: 1.5rem;
  line-height: 1.1;
  color: var(--black);
}

.article-card-date {
  /* positioning */
  order: 1;

  /* text styling */
  text-transform: uppercase;
  color: var(--black);
  font-size: .875rem;
}

.article-card-intro {
  /* positioning */
  order: 3;

  /* text styling */
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.25;
}

.grid-expand-btn-container {
  text-align: center;
  padding-top: 2em;
}

.grid-expand-btn {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: .875rem;
  font-weight: 700;
}

/* HERO */
.hero {
  height: 75vh;

  background-position: center;
  background-size: cover;
}

.hero-btn {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: stretch;
}

.hero-header {
  margin: 0 1em 12vw;
  position: relative;

  text-shadow: 0 0 1px black;
}

.hero-title {
  color: white;
  font-size: 2.5rem;
  margin: .225em 0;
  font-weight: 600;
}

.hero-date {
  font-size: 1rem;
  color: white;
}

.hero-intro {
  font-size: 1rem;
  color: white;
  /* width: 80%; */
  max-width: 615px;
}

/* ARTICLE */

/* FOOTER */
.footer {
  /* content layout */
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25em;

  /* styling */
  background-color: var(--black);
  color: white;
  font-size: .75rem;
}

.footer-title {
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: .5em;
}

@media only screen and (min-width: 576px) {
  /* HEADER */
  .header {
    padding: 1em 5vw;
  }

  /* NAV */
  .header-nav {
    /* sizing & positioning */
    position: static;
    width: auto;
    height: auto;

    padding: 0;
  }

  .nav-expand-btn,
  .nav-collapse-btn {
    display: none;
  }

  .nav-btns {
    /* content layout */
    flex-direction: row;
    gap: 0;
  }

  .nav-btns li {
    width: 6.5em;
    text-align: right;
  }

  /* ARTICLE CARD GRID*/
  .recent-articles {
    padding: 0 5vw;
  }

  /* HERO */
  .hero-header {
    margin: 0 5vw 5vw;
  }

  /* ARTICLE */
}