.black-border {
  /* border: 1px solid black;
  box-sizing: border-box; */
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('Fonts/SourceSans3-VariableFont_wght.ttf');
  font-weight: 400 700;
  font-style: normal;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  margin: 0;

  /* default page font */
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
}

.bold-text {
  font-weight: 700;
}

/* IMAGE UTLITY CLASSES */
.img {
  display: block; /* removes whitespace below the img */
  max-width: 100%;
}

.small-img {
  height: 34px;
  width: auto;
  object-fit: cover;
}

.rounded-img {
  border-radius: 50%;
}

/* PAGE HEADER */
.page-header {
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* sizing */
  width: 100%;
}

.header-container {
  /* sizing */
  width: 100%;
  max-width: 470px;

  /* content layout */
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* styling */
  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

/* POSTS */
.post-feed {
  /* sizing and spacing */
  max-width: 470px;
  margin: 0 auto;

  /* content layout */
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  height: 120vh;
}

.post-header {
  /* content layout */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

hgroup {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.post-caption {
  /* content layout */
  padding: 21px 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-comment {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.reaction-btns {
  /* content layout */
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  /* styling */
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-img {
  /* sizing */
  height: 22px;
  width: 22px;
}