.black-border {
  /* border: 1px solid black;
  box-sizing: border-box; */
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SourceSans3-VariableFont_wght.ttf');
  font-style: normal;
}

html, body {
  margin: 0;

  /* default page font */
  font-family: 'Source Sans Pro';
  font-size: 13px;
  line-height: 1.2;
}

/* SPACING UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGE UTILITY CLASSES */
.img {
  max-width: 100%;
  display: block; /* removes the white space below the img element */
}

.small-img {
  height: 34px;
  width: auto;
}

.round-img {
  border-radius: 50%;
}

/* FONT UTILITY CLASSES */
.normal-font {
  font-weight: 400;
}

.bold-font {
  font-weight: 700;
}

/* CONTENT SPECIFIC CLASSES */
.page-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
}

.header-container {
  /* sizing */
  width: 100%;
  max-width: 470px;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  /* styling */
  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

.main {
  /* sizing and spacing */
  max-width: 470px;
  margin: 0 auto;
  padding-top: 66px;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-header {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 10px;
}

figcaption {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px 16px;
}

.reaction-btns {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-img {
  /* sizing */
  height: 22px;
  width: 22px;
}

.post-caption {
  /* content layout */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}