.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

/* COLOR PALETTE */
:root {
  --black: #000;
  --white: #FFF;
  --light: #FDF7F4;
  --orange: #FFD18C;
  --dark-orange: #FFA724;
}

html, body {
  margin: 0;

  /* default page font */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
}

/* UTLITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.padding {
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  /* sizing and spacing */
  width: 90%;
  max-width: 730px;
  margin: auto;
  text-align: center;
}

/* HEADER */
.page-header {
  /* styling */
  background-color: var(--white);
}

.logo {
  /* sizing and spacing */
  width: 70%;
  max-width: 373px;
  height: auto;
  margin: 40px 0;
}

.nav {
  /* content layout */
  padding: 18px 0;

  /* styling */
  background-color: var(--orange);
}

.nav-container {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.nav-link {
  /* styling */
  border-bottom: 2px solid var(--orange);

  /* text decoration */
  text-transform: capitalize;
  text-decoration: none;
  font-size: 25px;
  line-height: 30px;
  color: var(--black);
}

.nav-link:hover {
  border-bottom: 2px solid var(--black);
}

/* MAIN CONTENT */
main {
  /* content layout */
  padding: 33px 0 90px;
  display: flex;
  flex-direction: column;
  gap: 47px;
  /* styling */
  background-color: var(--light);
}

/* ACTION CALL SECTION */
.action-btns {
  /* content display */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
  grid-auto-rows: 77px;
  gap: 15px;
  justify-content: center;
}

.btn {
  /* styling */
  cursor: pointer;
  background-color: var(--white);
  border: 5px solid var(--dark-orange);
  border-radius: 50px;

  /* text style */
  text-transform: capitalize;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Inter", sans-serif;

  transition: transform 300ms;
}

.btn:hover {
  /* sizing */
  transform: scale(1.05);

  /* styling */
  background-color: var(--dark-orange);
}

/* DASHBOARD */
.dashboard {
  /* sizing and spacing */
  width: 90%;
  max-width: 1020px;
  margin: 0 auto;

  /* content layout */
  display: grid;
  grid-template-columns: 1fr; /* only for screens narrower than 576px (see media query) */
  grid-auto-rows: auto;
  gap: 40px 2vw;
}

.frame {
  flex: 1 1 100%;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.frame-title {
  /* text styling */
  text-transform: capitalize;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

.frame-pane {
  height: 100%;
}

/* ACCOUNT SUMMARIES */
.accounts {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.account-total {
  /* sizing */
  max-width: 100%;

  /* content layout */
  padding: 42px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;

  position: relative; /* for the hover effect */
  left: 0;
  top: 0;

  /* styling */
  border: 5px solid var(--dark-orange);
  border-radius: 15px;
  background-color: var(--white);
  cursor: pointer;

  /* text styling */
  text-transform: capitalize;
  font-weight: 700;
  
  transition: left 300ms, top 300ms, background-color 300ms;
}

.account-total:hover {
  left: 2px;
  top: -2px;

  /* change background color */
  background-color: var(--orange);
}

.account-name {
  flex: 0 1 180px;
}

.account-amount {
  flex: 1 0 180px;
  text-align: right;
}

.account-amount::before {
  content: "$ ";
}

.svg-container {
  /* text style */
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

@media (min-width: 576px) {
  .nav-container {
    /* content layout */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }

  .frame {
    box-sizing: border-box;
  }
}