.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./SourceSans3-VariableFont_wght.ttf');
  font-style: normal;
}

html, body {
  margin: 0;

  /* default page font */
  font-family: 'Source Sans Pro';
  font-size: 13px;
  line-height: 1;
}

/* SPACING UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGE UTILITY CLASSES */
.img {
  max-width: 100%;
  display: block;
}

.small-img {
  height: 34px;
  width: auto;
}

.round-img {
  border-radius: 50%;
}

/* FONT UTILITY CLASSES */
.normal-font {
  font-weight: 400;
}

.bold-font {
  font-weight: 700;
}

.container {
  /* sizing and spacing */
  width: 100%;
  max-width: 470px;
  margin: 0 auto;

  /* the container is positioned so that
  its children can be positioned relative to it
  (instead of the body) */
  position: relative;

  padding-top: 66px;
}

/* PAGE HEADER */
.page-header {
  /* positioning */
  position: absolute;
  top: 0;

  /* sizing */
  width: 100%;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  /* styling */
  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

.post-header {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 10px;
}

figcaption {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px 16px;
}

.reaction-btns {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.btn {
  border: none;
  background-color: transparent;
}

.btn-img {
  /* sizing */
  height: 22px;
  width: 22px;
}

.post-caption {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}