.black-border {
  /* border: 1px solid black;
  box-sizing: border-box; */
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./SourceSans3-VariableFont_wght.ttf');
  font-style: normal;
}

html, body {
  margin: 0;

  /* default page font */
  font-family: 'SourceSansPro';
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.normal-font {
  font-weight: 400;
}

.bold-font {
  font-weight: 700;
}

/* ELEMENT SELECTORS */
h3 {
  font-size: 13px;
  font-weight: 700;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

/* GENERIC SELECTORS */
.main-header {
  /* positioning */
  position: fixed;

  /* sizing and spacing */
  width: 100%;
  max-width: 470px;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  /* styling */
  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

.header-img {
  /* sizing */
  height: 34px;
  width: auto;
}

.avatar-img {
  /* sizing */
  height: 34px;
  width: auto;

  /* styling */
  object-fit: cover;
  border-radius: 50%;
}

/* CONTENT SPECIFIC CLASSES */
.post-feed {
  /* sizing and spacing */
  max-width: 470px;
  margin: 0 auto;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-header {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 10px;
}

hgroup {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.post-img {
  /* sizing and spacing */
  width: 100%;
  display: block; /* removes the small space below the img */
  object-fit: cover;
}

figcaption {
  /* content layout */
  padding: 20px 10px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.reaction-btns {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.btn {
  /* styling */
  border: none;
  background-color: transparent;
}

.btn-img {
  /* sizing */
  height: 22px;
  width: auto;
}

.post-caption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}