/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

/* CONTENT SPECIFIC CLASSES   */
.main {
  /* sizing and spacing */
  width: 100vw;
  height: 100vh;

  /* styling */
  background: url(./images/nature.jpg) no-repeat;
  background-size: cover;
}

.quote-box {
  /* sizing and spacing */
  width: 90vw;
  max-width: 500px;
  height: 300px;

  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* styling */
  background-color: rgba(255, 255, 255, .9);
  border-radius: 4px;

  /* text styling */
  text-decoration: none;
}