/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

/* CONTENT SPECIFIC CLASSES   */
.main {
  /* sizing and spacing */
  width: 100vw;
  height: 100vh;

  /* styling */
  background: url(./images/nature.jpg) no-repeat;
  background-size: cover;
}