.card {
  display: flex;
  flex-direction: column;

  color: var(--text-primary);
  background-color: var(--primary-200);
  border: 1px solid var(--primary-300);
  border-radius: .75em;
}

.card-img {
  height: 10.5em;
  width: 100%;
  border-radius: .75em .75em 0 0;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .25em .5em;
}

.card-location {
  display: flex;
  align-items: center;
  gap: .25em;
}

.pin-icon {
  height: .625em;
  width: auto;
}

.card-location-name {
  font-size: .75rem;
  color: var(--text-secondary);
}

.card-dates {
  display: flex;
  align-items: center;
  gap: .25em;
}

.card-date {
  font-size: .75rem;
}

.card-description {
  font-size: .75rem;
  line-height: 1.5;
}

.card-link {
  align-self: flex-start;
  padding: .5em 1.5em;
  margin-top: 1.5em;

  font-size: .75rem;
  text-decoration: none;
  font-weight: 600;
  
  color: var(--text-primary);
  background-color: var(--accent);
  border-radius: 2em;
}

@media only screen and (min-width: 576px) {
  .card {
    flex-direction: row;
    padding: .5em;
  }

  .card-img {
    height: 12em;
    width: 25%;
    flex: 0 0 25%;
    border-radius: .375em;
  }

  .card-body {
    padding: .25em .75em;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-link {
    margin-top: auto;
  }
}