.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-family: 'Matemasie';
  line-height: 1.1;
}

.nav {
  /* positioning */
  position: fixed;
  top: 0;
  right: -14em;
  z-index: 2;
  padding: 1.25em;

  /* sizing */
  height: 100vh;
  width: 14em;

  /* content layout */
  display: flex;
  flex-direction: column;

  /* styling */
  display: none;
  background-color: white;
}

.expanded {
  right: 0;
  display: flex;
}

.header-btn {
  text-transform: capitalize;
  padding: .75em 1.75em;
  font-weight: 600;
}

.header-auth-btn {
  border-radius: .25em;
  border: 1px solid black;
}

.header-signup-btn {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 576px) {
  .nav-expand-btn {
    display: none;
  }

  .nav {
    /* positioning */
    position: initial;
    padding: 0;

    /* sizing */
    height: initial;
    width: auto;

    /* content layout */
    flex-direction: row;
    align-items: center;

    /* styling */
    display: block;
  }
}