:root {
  --main: #FAFAFA;
  --accent-light: #F9FAFB;
  --accent-dark: #D1D5DB;
  --text-secondary: #6B7280;
  --text-primary: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

button, a {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* GENERIC CLASSES */
.container {
  padding: 1.25em 5vw;
}

/* PAGE LAYOUT */
main {
  min-height: 40em;
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--main);
}

/* PAGE HEADER */
.page-header {
  height: 40vw;
  max-height: 80vh;

  background-image: url("https://images.unsplash.com/photo-1628432136678-43ff9be34064");
  background-size: cover;
  background-position: center -30vw;
}

.page-header-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, .8);
  color: var(--main);
}

.title {
  font-size: 7vw;
  letter-spacing: -4.5%;
  font-weight: 800;
}

.tagline {
  font-size: .875rem;
  font-weight: 600;
}

/* SEARCH FORM */
.search-form-container {
  background-color: var(--accent-dark);
}

.search-form {
  margin: auto;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.search-form-label {
  display: flex;
  flex-direction: column;
  gap: .625em;
}

.search-form-label-text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: .875rem;
  background-color: var(--main);
  border: 1px solid var(--accent-dark);
  border-radius: .4em;

  color: var(--accent-dark);
}

.input-group-icon {
  padding: 0 .7em;
}

.form-control {
  flex-grow: 1;
  height: 2.7em;

  background-color: transparent;
  border: none;
  color: var(--text-secondary);
}

.form-control::placeholder {
  color: var(--text-primary);
}

.form-control:focus {
  outline: none;
}

.submit-btn {
  background-color: var(--accent-light);
  border: 1px solid var(--accent-dark);
}

.no-data-state {
  margin: auto;
  max-width: 400px;
  color: var(--text-secondary);
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

.fa-film {
  width: 70px;
  height: auto;
}

@media only screen and (min-width: 576px) {
  .tagline {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .tagline {
    font-size: 1.25rem;
  }

  .search-form-container {
    position: absolute;
    top: -4.25em;
    left: 0;
    width: 100%;
    background-color: transparent;
  }

  .search-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0;
  }

  .search-form-label {
    flex: 1 0 13em;
    color: var(--main);
  }

  .type-search-label {
    flex-grow: 0;
  }

  .search-year-label {
    flex: 0 0 7.5em;
  }

  .input-group {
    border-radius: 0;
  }

  .first-input {
    border-radius: .4em 0 0 .4em;
  }

  .last-input {
    border-radius: 0 .4em .4em 0;
  }

  .submit-btn {
    flex: 0 0 8.6em;
  }
}