/* HEADER */
.header {
  /* sizing and positioning */
  position: sticky;
  top: 0;
  left: 0;
  background: lightblue;

  /* content layout */
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 470px;

  /* content layout */
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

.header-img {
  height: 2.125em;
  width: auto;
}

.avatar-img {
  border-radius: 50%;
}