/* HEADER */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-container {
  max-width: 470px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;

  background-color: white;
}

.header-img {
  height: 2.615em;
  width: auto;
}

.avatar-img {
  width: 2.615em;
  border-radius: 50%;
}

@media only screen and (min-width: 470px) {
  .header-container {
    padding: 1.25em 0;
  }
}