/* HEADER */
.header {
  position: sticky;
  top: 0;
  left: 0;
}

.header-container {
  max-width: 470px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;

  background-color: white;
  border-bottom: 1px solid #C6C6C6;
}

.header-img {
  height: 2.615em;
  width: auto;
}

.header-avatar {
  width: 2.615em;
  border-radius: 50%;
}