<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oldagram</title>
</head>
<body>
  <header class="page-header centered-content black-border">
    <div class="header-container border-box black-border">
      <img class="img small-img" src="../assets/images/logo.png" alt="Oldagram logo" />
      <img class="img small-img round-img" src="../assets/images/user-avatar.png" alt="Rounded user avatar" />
    </div>
  </header>
  <main class="main black-border">
    <article class="post-container black-border">
      <header class="post-header">
        <img class="img small-img round-img" src="../assets/images/avatar-vangogh.jpg" />
        <hgroup>
          <h4 class="post-user no-margin">Vincent van Gogh</h4>
          <span class="post-location">Zudert, Netherlands</span>
        </hgroup>
      </header>
      <figure class="no-margin">
        <img class="img post-img black-border" src="../assets/images/post-vangogh.jpg" />
        <figcaption class="black-border">
          <section class="reaction-btns">
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-heart.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-comment.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-dm.png" /></button>
          </section>
          <span class="likes bold-font">21,492 likes</span>
          <div class="post-caption">
            <h4 class="no-margin">vincey1853</h4>
            <p class="no-margin">just took a few mushrooms lol</p>
          </div>
        </figcaption>
      </figure>
    </article>
    <article class="post-container black-border">
      <header class="post-header">
        <img class="img small-img round-img" src="../assets/images/avatar-courbet.jpg" />
        <hgroup>
          <h4 class="post-user no-margin">Gustave Courbet</h4>
          <span class="post-location">Ornans, France</span>
        </hgroup>
      </header>
      <figure class="no-margin">
        <img class="img post-img black-border" src="../assets/images/post-courbet.jpg" />
        <figcaption class="black-border">
          <section class="reaction-btns">
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-heart.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-comment.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-dm.png" /></button>
          </section>
          <span class="likes bold-font">12,502 likes</span>
          <div class="post-caption">
            <h4 class="no-margin">gus1819</h4>
            <p class="no-margin">i'm feeling a bit stressed tbh</p>
          </div>
        </figcaption>
      </figure>
    </article>
    <article class="post-container black-border">
      <header class="post-header">
        <img class="img small-img round-img" src="../assets/images/avatar-ducreux.jpg" />
        <hgroup>
          <h4 class="post-user no-margin">Joseph Ducreux</h4>
          <span class="post-location">Paris, France</span>
        </hgroup>
      </header>
      <figure class="no-margin">
        <img class="img post-img black-border" src="../assets/images/post-ducreux.jpg" />
        <figcaption class="black-border">
          <section class="reaction-btns">
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-heart.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-comment.png" /></button>
            <button class="btn centered-content no-padding" type="button"><img class="img btn-img" src="../assets/images/icon-dm.png" /></button>
          </section>
          <span class="likes bold-font">15,137 likes</span>
          <div class="post-caption">
            <h4 class="no-margin">jd1735</h4>
            <p class="no-margin">gm friends! which coin are YOU stacking up today?? post below and WAGMI!</p>
          </div>
        </figcaption>
      </figure>
    </article>
  </main>
  <script src="bundle.js"></script>
</body>
</html>