.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

/* COLOR PALETTE */
:root {
  --pager-background: #283033;
  --pager-header-text-color: #F8F8F8;
  --pager-display: #9EC4B3;
  --pager-display-text-color: #000000;

  --phone-background: #D9D9D9;
  --phone-header-text-color: #000000;
  --phone-display: #444444;
  --phone-display-text-color: #F8F8F8;
  --phone-key: #F8F8F8;
  --phone-key-text-color: #000000;

  --reset-and-send-button-border-color: #0B0B0B;

  --reset-button-background: #BE482A;
  --reset-button-text-color: #F8F8F8;

  --send-button-background: #3D9C7C;
  --send-button-text-color: #0B0B0B;
}

html, body {
  /* sizing and spacing */
  margin: 0;
  padding: 0;

  /* default font */
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;

  user-select: none;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GENERIC CLASSES */
main {
  /* sizing and spacing */
  max-width: 400px;
  width: 90vw;
  margin: 20px auto;

  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
}

.main-section {
  /* content layout */
  padding: 10px;
  gap: 10px;
}

.section-header {
  /* sizing and spacing */
  align-self: stretch;

  /* text styling */
  font-size: 16px;
  text-transform: capitalize;
}

.display {
  /* sizing and spacing */
  height: 50px;
  align-self: stretch;

  overflow-x: hidden;
}

.key {
  /* styling */
  background-color: var(--phone-key);
  color: var(--phone-key-text-color);
  cursor: pointer;
}

.btns {
  /* sizing and spacing */
  align-self: stretch;

  /* content layout */
  align-items: stretch;
  gap: 5px;
}

.btn {
  /* sizing and spacing */
  height: 50px;

  /* styling */
  border: 2px solid black;
  cursor: pointer;

  /* text styling */
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
  text-transform: uppercase;
}

/* CONTENT-SPECIFIC CLASSES */
.pager {
  /* styling */
  background-color: var(--pager-background);
}

.pager-header {
  /* text styling */
  color: var(--pager-header-text-color);
}

.pager-display {
  /* styling */
  background-color: var(--pager-display);
  color: var(--pager-display-text-color);
}

.phone {
  /* styling */
  background-color: var(--phone-background);
}

.phone-header {
  /* styling */
  color: var(--phone-header-text-color);
}

.phone-display {
  /* styling */
  background-color: var(--phone-display);
  color: var(--phone-display-text-color);
}

.dialing {
  background-color: rgba(249, 191, 59, .6);
}

.error {
  background-color: rgba(255,51,51, .6);
}

.dial {
  /* sizing and spacing */
  align-self: stretch;

  /* content layout */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  gap: 10px;
}

.reset-btn {
  /* styling */
  background-color: var(--reset-button-background);
  color: var(--reset-button-text-color);
}

.send-btn {
  /* styling */
  background-color: var(--send-button-background);
  color: var(--send-button-text-color);
}