.post {
  /* background: orange; */
}

.post-header {
  /* content layout */
  display: flex;
  align-items: center;
  gap: .4375em;
  padding: .625em;
}

.username {
  font-size: .8125rem;
  font-weight: 700;
}

.location {
  font-size: .75rem;
}

.post-header-img {
  height: 2.125em;
  width: 2.125em;
  border-radius: 50%;
}

.img-btn {
  width: 100%;
}

.post-img {
  max-height: 575px;
}