.post {
  max-width: 470px;
  width: 100%;
}

.post-header {
  display: flex;
  align-items: center;
  gap: .55em;
  padding: 1.5em .75em 1em;
}

.post-header hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .125em;
}

.post-username {
  font-weight: 700;
}

.post-img {
  cursor: pointer;
  border: 1px solid #dbdbdb;
  width: 100%;
  max-height: 585px;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.55em .75em 1.125em;
}

.reaction-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.55em;
}

.hollow-btn:hover {
  opacity: .2;
}

.reaction-btn:last-child {
  margin-left: auto;
}

.reaction-btn-img {
  height: 1.85em;
  width: 1.85em;
}

.post-likes {
  font-weight: 700;
}

.caption-username {
  font-weight: 700;
}

@media only screen and (min-width: 470px) {
  .post {
    border-top: 1px solid #dbdbdb;
  }

  .post-header {
    padding: 1.5em 0 1em;
  }

  .post-img {
    border-radius: .2em;
  }

  .post-body {
    padding: 1.55em 0 1.125em;
  }
}