@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-size: inherit;

  user-select: none;
}

/* CSS SELECTORS */
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: light) {}
