#root {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;

  background-color: #CAD5CA;
}

main {
  max-width: 400px;
  margin: auto;
  padding: .75em;
  border-radius: .3em;
  background-color: #F8F0FB;
  color: #211A1D;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.tile {
  background-color: #B8C480;
}

button {
  padding: .5em 1em;
  background-color: #6320EE;
  color: #F8F0FB;
  border: none;
  outline: none;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #8075FF;
}