.intro {
  margin: auto;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2rem;
  margin-bottom: .25em;
  font-family: 'Karla', sans-serif;
}

.description {
  margin-bottom: 1.75em;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

.error-msg {
  position: absolute;
  bottom: -4.5em;

  color: red;
  font-size: .75rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
}