.intro {
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

h1 {
  font-size: 2rem;
  margin-bottom: .25em;
  font-family: 'Karla', sans-serif;
}

.description {
  margin-bottom: 1.75em;
  font-family: 'Inter', sans-serif;
}