.header {
  flex: 0 0 3.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25em;

  background-color: var(--accent);
}

.header-img {
  width: 1.5em;
  height: 1.5em;
}

.header-title {
  font-weight: 500;
  color: var(--text-primary);
}