/* FORM */
.generator-form {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.color, .mode {
  font-size: 1rem;
  height: 2.625em;
}

.mode, .submit {
  border-radius: .375em;
}

.color {
  flex: 0 0 3.875em;
  padding: .06125em .125em;
  border: none;
  border-radius: 0;
}

.mode {
  flex: 1 0 auto;
  padding: 0 .625em;
  border: 1px solid #D1D5DB;
}

.submit {
  font-size: .75rem;
  flex-basis: 100%;
  height: 3.5em;

  background-color: lightseagreen;
  color: white;
}

@media only screen and (min-width: 432px) {
  .submit {
    flex: 0 0 10em;
  }
}