/* FORM */
.generator-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .75em;
}

:focus {
  outline: none;
}

.color, .mode, .submit {
  border-radius: .375em;
}

.color, .mode {
  font-size: 1em;
  height: 2.625em;
}

.color {
  flex: 0 0 3.75em;
  padding: .03125em .0625em;
  border: none;
  cursor: pointer;
}

.mode {
  flex: 1 0 auto;
  padding: 0 .625em;
}

.submit {
  font-size: .75rem;
  height: 3.5em;
  flex: 0 0 10em;
  background-color: lightseagreen;
  color: white;
}