@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;
}

body {
  background-color: #F5F7FB;
  color: #293264;
}

main {
  width: 90vw;
  max-width: 550px;
  min-height: 100vh;
  margin: auto;
  padding: 2em 0;

  display: flex;

  /* border: 1px solid black; */
}

.btn {
  height: 3.25em;
  width: 12em;

  border-radius: 1em;
  background-color: #4D5B9E;
  border: none;

  color: #F5F7FB;
  font-weight: 500;
  font-family: 'Inter', sans-serif;

  cursor: pointer;
}