@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
}

body {
  background-color: #F5F7FB;
}

main {
  min-height: 100vh;
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;

  display: flex;
  color: #293264;
  border: 1px solid black;
}

.btn {
  width: 12em;
  height: 3.25em;

  background-color: #4D5B9E;
  border: none;
  border-radius: 1em;

  color: #F5F7FB;
  font-weight: 500;
  font-family: 'Inter', sans-serif;

  cursor: pointer;
}